.svg-container {
  display: flex;
  justify-content: center; /* Οριζόντιο κεντράρισμα */
  align-items: center; /* Κατακόρυφο κεντράρισμα */
  height: 100vh; /* Καταλαμβάνει όλο το ύψος της οθόνης */
}

.responsive-svg {
  max-height: 100%; /* Το SVG να μην ξεπερνά το ύψος της οθόνης */
}

body {
  margin: 0;
}

@font-face {
  font-family: "MADETOMMY-ExtraBold";
  src: url("/public/fonts/MADETOMMY-ExtraBold.otf") format("otf");
}